/* You can add global styles to this file, and also import other style files */
.center {
  left: 50%;
  position: relative;
}
.titulo {
  color: orange;
  font-family: Montserrat, sans-serif;
  font-size: 50px;
  text-align: center;
}
.background {
  background-color: #e8e8ea;
}
.layoutBGColor {
  background-color: #002233;
}
html,
body {
  background-color: #e8e8ea;
  height: 100%;
}
